{% macro ros_pod(team_name, team_color, team_config) %}
{% set color_prefix = team_color[0] -%}
{% set fawkes_port_offset  = 0 if team_color|upper == "CYAN" else 3 -%}
{% set refbox_peer_port_offset = 6 if team_color|upper == "CYAN" else 9 -%}
{% if team_config.run_ros_pod -%}
# ROS pod for team {{ team_name }} ({{ team_color }})
- template: rcll-sim-ros
  vars:
    rcll_sim_ros_image: {{ docker_registry }}timn/rcll-sim-ros:2016-f25-kinetic
    robots:
{%- for i in range(1, team_config.num_robots+1) %}
      - {{ color_prefix|upper }}-R{{ i }}
{%- endfor %}
    ros:
      port: 11311
    team:
      name: {{ team_name }}
      color: {{ team_color|upper }}
      crypto_key: {{ team_config.crypto_key|default("randomkey") }}
{% if not team_config.disable_ros_rcll_integration %}
    fawkes:
{%- for i in range(1, team_config.num_robots + 1) %}
      - host: fawkes-{{ color_prefix|lower }}{{ i }}
        port: {{ 1920 + fawkes_port_offset + i }}
{%- endfor %}
    navgraph_rosmaster: http://rosmaster-{{ color_prefix|lower }}1:11311
    refbox:
      peer_address: refbox
      disable_beacon_sender: {{ team_config.disable_beacon_sender|default("false") }}
      peers:
{%- for i in range(1, team_config.num_robots + 1) %}
      - public_recv_port: {{  4410 + refbox_peer_port_offset + i }}
        public_send_port: {{  4450 + refbox_peer_port_offset + i }}
        cyan_recv_port: {{    4470 + refbox_peer_port_offset + i }}
        cyan_send_port: {{    4490 + refbox_peer_port_offset + i }}
        magenta_recv_port: {{ 4510 + refbox_peer_port_offset + i }}
        magenta_send_port: {{ 4530 + refbox_peer_port_offset + i }}
{%- endfor %}
{%- else %}
    disable_ros_rcll_integration: true
{%- endif %}
{% else -%}
# No ROS pod for team {{ team_name }} ({{ team_color }})
{%- endif %}
{%- endmacro %}
