{# Macros, must be defined first to be passed along with context to
 # team templates -#}
{% macro robots() -%}
{% for i in range(1, team_cyan.num_robots+1) -%}
- C-R{{ i }}
{% endfor -%}
{% for i in range(1, team_magenta.num_robots+1) -%}
- M-R{{ i }}
{% endfor -%}
{% endmacro -%}
{# Import team-specific configurations #}
{% import "team-" + team_name_cyan + ".j2" as team_cyan with context -%}
{% import "team-" + team_name_magenta + ".j2" as team_magenta with context -%}

metadata:
  name: {{ tournament_name }}

---
{% set docker_registry = "defiant.kbsg.rwth-aachen.de:5000/" -%}
parameters:
### Common simulation base pods
{% block sim_pod -%}
- template: sim-refbox
  vars:
    rcll_sim_image: {{ docker_registry }}timn/rcll-sim:2016-f25-kinetic
    robots:
      {{ robots()|indent(6) }}
    team_cyan: {{ team_name_cyan }}
    team_magenta: {{ team_name_magenta }}
  sufficient_containers: [run-game]
{%- endblock %}

{% block gzweb_pod -%}
- template: gzweb
  vars:
    gzweb_image: {{ docker_registry }}timn/gzweb:7
{% endblock %}

### Team-specific robot pods
{% from "game_robot_pod.j2" import robot_pod with context -%}
{% block robot_pods_cyan -%}
{{ robot_pod(team_name_cyan, "CYAN", team_cyan) }}
{% endblock -%}
{% block robot_pods_magenta -%}
{{ robot_pod(team_name_magenta, "MAGENTA", team_magenta) }}
{%- endblock %}

### Optional team-specific ROS integration pods
{%- from "game_ros_pod.j2" import ros_pod with context -%}
{% block ros_pod_cyan -%}
{{ ros_pod(team_name_cyan, "CYAN", team_cyan) }}
{% endblock -%}
{% block ros_pod_magenta -%}
{{ ros_pod(team_name_magenta, "MAGENTA", team_magenta) }}
{%- endblock %}

### Team-specific pods
{%- block team_pods_cyan -%}
{% if team_cyan.pods -%}
{{ team_cyan.pods(team_name_cyan, "CYAN") }}
{% else -%}
# No team-specific pods for team {{ team_name_cyan }} (CYAN)
{% endif -%}
{% endblock -%}

{% block team_pods_magenta -%}
{% if team_magenta.pods -%}
{{ team_magenta.pods(team_name_magenta, "MAGENTA") }}
{% else -%}
# No team-specific pods for team {{ team_name_magenta }} (MAGENTA)
{% endif -%}
{% endblock -%}
