{% extends "robot-pod.yaml.j2" %}

{% block container_extra %}
  - name: mongodb-sync-distributed
    image: mongo
    command:
      - mongod
      - "--replSet"
      - robot-memory-distributed
      - "--bind_ip"
      - "0.0.0.0"
      - "--smallfiles"
      - "--noprealloc"
      - "--port"
      - "27022"
    ports:
      - containerPort: 27022
    volumeMounts:
      - name: mongo-storage-distributed
        mountPath: /data/db
  - name: mongodb-sidecar-distributed
    image: cvallance/mongo-k8s-sidecar
    env:
      - name: KUBE_NAMESPACE
        valueFrom:
          fieldRef:
            fieldPath: metadata.namespace
      - name: MONGO_SIDECAR_POD_LABELS
        value: "app=fawkes,team-color={{ team.color|lower }}"
      - name: MONGO_PORT
        value: "27022"
  - name: mongodb-sync-local
    image: mongo
    command:
      - mongod
      - "--replSet"
      - robot-memory-local
      - "--bind_ip"
      - "0.0.0.0"
      - "--smallfiles"
      - "--noprealloc"
      - "--port"
      - "27021"
    ports:
      - containerPort: 27021
    volumeMounts:
      - name: mongo-storage-local
        mountPath: /data/db
  - name: mongodb-sidecar-local
    image: cvallance/mongo-k8s-sidecar
    env:
      - name: KUBE_NAMESPACE
        valueFrom:
          fieldRef:
            fieldPath: metadata.namespace
      - name: MONGO_SIDECAR_POD_LABELS
        value: "app=fawkes,robot={{ robot.name }},team-color={{ team.color|lower }}"
      - name: MONGO_PORT
        value: "27021"
{% endblock %}


{% block volumes %}
  volumes:
    - name: mongo-storage-distributed
      emptyDir: {}
    - name: mongo-storage-local
      emptyDir: {}
{% endblock %}
