# Headless service for Gazebo simulation
apiVersion: v1
kind: Service
metadata:
  name: gazebo
  namespace: {{ namespace }}
spec:
  selector:
    app: gazebo
    simulation: rcll
  clusterIP: None
  ports:
  - port: 1
---
# Headless service for Referee Box
apiVersion: v1
kind: Service
metadata:
  name: refbox
  namespace: {{ namespace }}
spec:
  selector:
    refbox: rcll
  clusterIP: None
  ports:
  - port: 4444
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: refbox-config
  namespace: {{ namespace }}
data:
  teams.yaml: |
    llsfrb:
      game:
        teams: [{{ team_cyan.name }}, {{ team_magenta.name }}]
        crypto-keys:
          {{ team_cyan.name }}: "{{ team_cyan.crypto_key }}"
          {{ team_magenta.name }}: "{{ team_magenta.crypto_key }}"
---
apiVersion: v1
kind: Pod
metadata:
  name: rcll-sim
  namespace: {{ namespace }}
  labels:
    refbox: rcll
    app: gazebo
    simulation: rcll
spec:
  hostname: rcll-sim
  containers:
    - name: gazebo
      image: {{ rcll_sim_image }}
      #imagePullPolicy: Always
      command: ["/opt/rcll-sim/run-component"]
      args: ["gazebo"]
{% if gazebo_world %}
      env:
      - name: GAZEBO_WORLD
        value: {{ gazebo_world }}
{% endif %}
      readinessProbe:
        exec:
          command: ["sh", "-c", "gz topic -l | grep time-sync"]
        initialDelaySeconds: 10
        failureThreshold: 15
    - name: refbox
      image: {{ rcll_sim_image }}
      command: ["/opt/rcll-sim/run-component"]
      args: ["refbox"]
      volumeMounts:
      - name: refbox-config-volume
        mountPath: /opt/llsf-refbox/cfg/conf.d

    - name: comm-proxy
      image: {{ rcll_sim_image }}
      command: ["/opt/rcll-sim/run-component"]
      args: ["fawkes"]
      env:
      - name: META_PLUGIN
        value: gazsim-organization
      - name: LOG_LEVEL
        value: debug
      readinessProbe:
        tcpSocket:
          port: 1910
        initialDelaySeconds: 10
        failureThreshold: 10

    - name: run-game
      image: {{ rcll_sim_image }}
      command: ["/opt/rcll-sim/run-component"]
      args: ["run-game"]
      env:
      - name: REFBOX_SETUP_TIMEOUT
        value: "300"
      #- name: PREPARE_TIMEOUT
      #  value: "10"
      - name: ROBOT_TIMEOUT
        value: "300"
      - name: TEAM_CYAN
        value: {{ team_cyan.name }}
      - name: TEAM_MAGENTA
        value: {{ team_magenta.name }}
      - name: ROBOTS
        value: "{{ robots|join(' ') }}"
  volumes:
    - name: refbox-config-volume
      configMap:
        name: refbox-config
  imagePullSecrets:
    - name: regsecret
  restartPolicy: Never
