# Headless service for Gazebo simulation
apiVersion: v1
kind: Service
metadata:
  name: gazebo
  namespace: {{ namespace }}
spec:
  selector:
    app: gazebo
    simulation: rcll
  clusterIP: None
  ports:
  - port: 1
---
# Headless service for Referee Box
apiVersion: v1
kind: Service
metadata:
  name: refbox
  namespace: {{ namespace }}
spec:
  selector:
    refbox: rcll
  clusterIP: None
  ports:
  - port: 4444
{% if refbox.enable_mongodb -%}
---
apiVersion: v1
kind: Service
metadata:
  name: mongodb-refbox
  namespace: {{ namespace }}
  labels:
    app: mongodb
    mongodb-for: refbox
spec:
  ports:
  - name: mongodb
    port: 27017
    targetPort: 27017
  clusterIP: None
  selector:
    database: mongodb
    mongodb-for: refbox
{% endif -%}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: refbox-config
  namespace: {{ namespace }}
data:
  teams.yaml: |
    llsfrb:
      game:
        teams: [{{ team_cyan.name }}, {{ team_magenta.name }}]
        crypto-keys:
          {{ team_cyan.name }}: "{{ team_cyan.crypto_key }}"
          {{ team_magenta.name }}: "{{ team_magenta.crypto_key }}"
{%- if refbox.enable_mongodb %}
  mongodb.yaml: |
    llsfrb:
      mongodb:
        enable: true
{%- endif %}
---
apiVersion: v1
kind: Pod
metadata:
  name: rcll-sim
  namespace: {{ namespace }}
  labels:
    refbox: rcll
    app: gazebo
    simulation: rcll
{%- if refbox.enable_mongodb %}
    database: mongodb
    mongodb-for: refbox
{%- endif %}
spec:
  hostname: rcll-sim
  tolerations:
  - key: exclusive
    value: rcll-sim
  containers:
    - name: gazebo
      image: {{ rcll_sim_image }}
      imagePullPolicy: Always
      command: ["/opt/rcll-sim/run-component"]
      args: ["gazebo"]
{% if gazebo_world %}
      env:
      - name: GAZEBO_WORLD
        value: {{ gazebo_world }}
{% endif %}
      readinessProbe:
        exec:
          command: ["sh", "-c", "gz topic -l | grep time-sync"]
        initialDelaySeconds: 10
        failureThreshold: 15
      resources:
        requests:
          memory: "1.5Gi"
          cpu: "1"
        limits:
          memory: "1.5Gi"
          cpu: "1"
{%- if refbox.enable_mongodb %}
    - name: mongodb-refbox
      image: mongo:3
      command: ["mongod", "--smallfiles", "--noprealloc"]
      ports:
        - containerPort: 27017
      volumeMounts:
        - name: mongodb-refbox-storage
          mountPath: /data/db
{%- endif %}
    - name: refbox
      image: {{ rcll_sim_image }}
      imagePullPolicy: Always
      command: ["/opt/rcll-sim/run-component"]
      args: ["refbox"]
      env:
      - name: REFBOX_MONGODB_HOST
        value: localhost
      - name: REFBOX_MONGODB_PORT
        value: "27017"
      - name: REFBOX_MONGODB_WAIT
        value: "{{ refbox.enable_mongodb|lower }}"
      - name: REFBOX_MONGODB_WAIT_MAX_TRIES
        value: "60"
      - name: REFBOX_MONGODB_WAIT_PERIOD
        value: "4"
      volumeMounts:
        - name: refbox-config-volume
          mountPath: /opt/llsf-refbox/cfg/conf.d
      resources:
        requests:
          memory: "200Mi"
          cpu: "400m"
        limits:
          memory: "400Mi"
          cpu: "400m"

    - name: comm-proxy
      image: {{ rcll_sim_image }}
      imagePullPolicy: Always
      command: ["/opt/rcll-sim/run-component"]
      args: ["fawkes"]
      env:
      - name: META_PLUGIN
        value: gazsim-organization
      - name: LOG_LEVEL
        value: debug
      readinessProbe:
        tcpSocket:
          port: 1910
        initialDelaySeconds: 10
        failureThreshold: 10
      resources:
        requests:
          memory: "200Mi"
          cpu: "100m"
        limits:
          memory: "200Mi"
          cpu: "100m"

    - name: run-game
      image: {{ rcll_sim_image }}
      imagePullPolicy: Always
      command: ["/opt/rcll-sim/run-component"]
      args: ["run-game"]
      env:
      - name: JOB_NAME
        value: {{ job_name }}
      - name: KUBERNETES_NAMESPACE
        value: {{ namespace }}
      - name: REFBOX_SETUP_TIMEOUT
        value: "300"
      #- name: PREPARE_TIMEOUT
      #  value: "10"
      - name: ROBOT_TIMEOUT
        value: "300"
      - name: TEAM_CYAN
        value: {{ team_cyan.name }}
      - name: TEAM_MAGENTA
        value: {{ team_magenta.name }}
      - name: ROBOTS
        value: "{{ robots|join(' ') }}"
      - name: REFBOX_MONGODB_HOST
        value: localhost
      - name: REFBOX_MONGODB_PORT
        value: "27017"
      - name: REFBOX_MONGODB_DATABASE
        value: llsfrb
      - name: REFBOX_MONGODB_COLLECTION
        value: game_report
      - name: REFBOX_MONGODB_DO_EXPORT
        value: "{{ refbox.enable_mongodb|default("false") }}"
      - name: CLUSTER_MONGODB_RS
        value: rs0
      - name: CLUSTER_MONGODB_RS_SRV
        value: _mongodb._tcp.mongodb.database
      - name: CLUSTER_MONGODB_DATABASE
        value: refbox
      - name: CLUSTER_MONGODB_COLLECTION
        value: game_report
      - name: CLUSTER_MONGODB_MODIFICATION
        value: '{ "job_name": "{{ job_name }}" }'

      volumeMounts:
        - name: refbox-export-dir
          mountPath: /data/db-export

  volumes:
    - name: refbox-config-volume
      configMap:
        name: refbox-config
    - name: refbox-export-dir
      cephfs:
        monitors:
        - ceph-mon.ceph.svc.cluster.local
        user: admin
        secretRef:
          name: ceph-client-key
        # Note that the path must already exist in cephfs
        path: /refbox-db-export/
    - name: mongodb-refbox-storage
      emptyDir: {}

  imagePullSecrets:
    - name: regsecret
  restartPolicy: Never
