{% set num_robots =      1 %}
{% set robot_pod_image = "carosmt/fawkes-robotino:cx-single-c0" %}
{% set crypto_key =      "randomkey" %}

{% set robot_pod_template = "robot-pod-RobotMemory" %}
{% set robot_pod_fawkes_plugins = "gazsim-meta-clips-exec" %}
