{% set num_robots =      3 %}
{% set robot_pod_image = "carologistics-rc2017/fawkes-robotino:latest" %}
{% set crypto_key =      "randomkey" %}

{% set robot_pod_fawkes_plugins = "gazsim-meta-agent" %}
