{% set num_robots =      3 %}
{% set robot_pod_image = "timn/rcll-sim:2016-f25-kinetic" %}
{% set crypto_key =      "randomkey" %}

{% set robot_pod_fawkes_plugins = "gazsim-meta-robotino-ros,gazsim-meta-robotino-vision-high-level,gazsim-navgraph-generator,gazsim-meta-agent" %}
