{% set num_robots =      3 %}
{% set robot_pod_image = "babytigers-rc2017/rcll-sim-babytigers:latest" %}
{% set crypto_key =      "randomkey" %}

{% set robot_pod_fawkes_plugins = "gazsim-meta-agent" %}
