{% set num_robots =      1 %}
{% set robot_pod_image = "timn/rcll-sim:2016-f27-kinetic" %}
{% set crypto_key =      "randomkey" %}

{% set run_ros_pod = True %}
{% set create_headless_service_for_central_agent = True %}
{% set run_rosplan_anytime = False %}

{% macro pods(team_name, team_color) %}
{% if run_rosplan_anytime %}
- template: rcll-sim-rosplan-anytime
{% else %}
- template: rcll-sim-rosplan
{% endif %}
  vars:
    rcll_sim_rosplan_image: {{ docker_registry }}timn/rcll-sim-rosplan:2016-f27-kinetic
    robots:
{%- for i in range(1, num_robots+1) %}
      - {{team_color[0]|upper }}-R{{ i }}
{%- endfor %}
    ros_master_uri: http://rosmaster-{{ team_color|lower }}:11311
    team:
      name: {{ team_name }}
      color: {{ team_color }}
    autostart_planning: "true"
{% if run_rosplan_anytime %}
    planning_timeout: "20"
{% endif %}
{% endmacro %}
