{% set num_robots =      2 %}
{% set robot_pod_image = "carosmt/fawkes-robotino:multiagent-parallel" %}
{% set crypto_key =      "randomkey" %}

{% set robot_pod_fawkes_plugins = "gazsim-meta-agent" %}
